{% extends "base.html" %}

{% block content %}
<table>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
<tr>
    <th></th>
    <th>Index Name / Hash</th>
    <th>Size</th>
    <th>Age</th>
</tr>
{% for idx_name,param_hashes in layer_info.items() %}
<tr>
    <td><a href="/clear_cache?name={{ idx_name }}">Clear Index</a></td>
    <td>{{ idx_name }}</td>
    <td></td>
    <td></td>
</tr>
{% for param_hash,params in param_hashes.items() %}
<tr>
    <td><a href="/clear_cache?name={{ idx_name }}&param_hash={{ param_hash }}">Clear Index Hash</a></td>
    <td style="text-align:right">{{ idx_name  }}/{{ param_hash }}</td>
    <td>{{ params['size'] }}</td>
    <td>{{ params['age'] }}</td>
</tr>
{% endfor %}
{% endfor %}
</table>

{% endblock %}
