{% extends "base.html" %}

{% block content %}
<table>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
<tr>
    <th>Map Name</th>
    <th>Index</th>
    <th>Mode</th>
    <th>Geopoint Field</th>
    <th>Timestamp Field</th>
    <th>Category Field</th>
</tr>
{% for name,c in config_contents.items() %}
<tr>
    <td>{{ name }}</td>
    <td>{{ c.get('idx') }}</td>
    <td>{{ c.get('mode') }}</td>
    <td>{{ c.get('geopoint_field') }}</td>
    <td>{{ c.get('timestamp_field') }}</td>
    <td>{{ c.get('category_field') }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
