{% extends "base.html" %}

{% block content %}
<table>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
<tr>
    <th></th>
    <th>Index Name / Hash</th>
    <th>Size</th>
    <th>Age</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Mode / Field</th>
</tr>
{% for l,hashes in layer_info.items() %}
<tr>
    <td><a href="./clear_cache?name={{ l }}">Clear</a></td>
    <td>{{ l }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
{% for h,params in hashes.items() %}
<tr>
    <td><a href="./clear_cache?name={{ l }}&hash={{ h }}">Clear</a></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ h }}</td>
    <td>{{ params['size'] }}</td>
    <td>{{ params['age'] }}</td>
    <td>{{ params['start_time'] }}</td>
    <td>{{ params['stop_time'] }}</td>
    <td>{{ params['mode'] }} / {{ params['category_field'] }} {% if params['mode'] == "category" %} <a href="./color_map?name={{l}}&field={{params['category_field']}}">MAP</a>  {% endif %}</td>
</tr>
{% endfor %}
{% endfor %}
</table>


{% endblock %}
